BROKEN DOWN REQUIREMENTS

---Functional Requirements
Since there are 3 stakeholders (Owner, Employees and End Customer) the requirements will be broken down considering the stakeholders and their condition

1. Owners - New employee onboarding process

REQ1_001: The system shall allow registering new employees with their personal data, roles and mandatory documentation.
• Task1_001: Create a registration form for new employees.
• Task1_002: Establish controls and validations to verify that the values entered in the form are correct.

REQ1_002: Considering the role of the new employee, the system should provide an organized onboarding process, including training and accessible documentation.
• Task1_001: Create a detailed and sequential process for the onboarding of a new employee, considering the role to be performed.
• Task1_002: Add online training material and/or courses with progress tracking.

REQ1_003: Owners should be allowed to constantly monitor the progress of the onboarding process of each new employee.
• Task1_001: Develop a dashboard with metrics on the progress of the onboarding process of a new employee.
• Task1_002: Establish timelines for the completion of the onboarding process modules.
• Task1_003: Incorporate filters and searches to consult the employees in process.

2. Employees - Standardization of the new customer onboarding process.

REQ2_001: The system should establish a well-structured and consistent flow for onboarding new customers.
• Task2_001: Design a simple but well-structured form for the entry of new customer information.
• Task2_002: Establish controls and validations to verify that the values entered in the form are correct.

REQ2_002: Allow employees to always have access to documentation about the process.
• Task2_001: Create a guide or module for employees to easily access information.
• Task2_002: Train employees on the standardized form.

REQ2_003: Facilitate audits or follow-up to ensure that there are no irregularities or inconsistencies in the process.
• Task2_001: Generate compliance and efficiency reports on the process.
• Task2_002: Store records of actions taken by employees.

3. Customers - User experience 

REQ3_001: Implement an interface where customers can update their information and upload missing documents.
• Task3_001: Create a friendly interface where customers can visualize their information.
• Task3_002: Add option to update existing customer information.
• Task3_003: Add option to attach missing documents from existing customer.
• Task3_004: The system must verify the format and information entered by the customer.

REQ3_002: The system must allow existing customers to visualize the status of their incorporation.
• Task3_001: Create a user-friendly interface where customers can track their onboarding.

REQ3_003: Provide customer support service to resolve customer queries during the process.
• Task3_001: Create a FAQ manual so that customers can quickly access and resolve doubts.
• Task3_002: Integrate chat line so that customers can talk directly to an employee in case their question is not in the FAQ list.

---Non-Functional Requirements

1. Usability

REQ1_001: The system interface should be intuitive and easy to navigate.
• Task1_001: Implement good UX/UI practices.
• Task2_002: Perform usability and acceptance testing with users